"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "dark-flat-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS-Store"
      "._*"
      "Thumbs.db"
    ]
  editor:
    invisibles: {}
    confirmCheckoutHeadRevision: false
    fontFamily: "Menlo"
    fontSize: 15
    showIndentGuide: true
  autosave:
    enabled: true
  term2:
    colors:
      normalRed:
        red: 223
        green: 28
        blue: 87
        alpha: 1
      normalGreen:
        red: 144
        green: 212
        blue: 31
        alpha: 1
      normalCyan:
        red: 82
        green: 208
        blue: 235
        alpha: 1
      normalBlue:
        red: 82
        green: 208
        blue: 235
        alpha: 1
      normalYellow:
        red: 205
        green: 196
        blue: 93
        alpha: 1
      normalWhite:
        red: 187
        green: 187
        blue: 187
        alpha: 1
      normalBlack:
        red: 29
        green: 29
        blue: 24
        alpha: 1
      normalPurple:
        red: 255
        green: 157
        blue: 239
        alpha: 1
      brightBlack:
        red: 193
        green: 193
        blue: 193
        alpha: 1
      brightWhite:
        red: 255
        green: 255
        blue: 255
        alpha: 1
      brightYellow:
        red: 205
        green: 196
        blue: 93
        alpha: 1
      brightRed:
        red: 223
        green: 28
        blue: 87
        alpha: 1
      brightPurple:
        red: 255
        green: 157
        blue: 239
        alpha: 1
      brightGreen:
        red: 144
        green: 212
        blue: 31
        alpha: 1
      brightCyan:
        red: 82
        green: 208
        blue: 235
        alpha: 1
      brightBlue:
        red: 82
        green: 208
        blue: 235
        alpha: 1
      foreground:
        red: 187
        green: 187
        blue: 187
        alpha: 1
    openPanesInSameSplit: true
    cursorBlink: false
  "git-diff":
    showIconsInEditorGutter: true
  minimap: {}
